@use "./base.scss";
@use "./elementui.scss";
@use './tailwind.css';

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

#app {
  margin: 0 auto;
  color: var(--theme-color);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 10px;
}

body {
  // --el-color-primary: #c20c0c;
  --el-color-primary: var(--theme-color);
}

.el-drawer__body {
  --el-drawer-padding-primary: 0;
}

.container-wrapper {
  width: 100%;
  height: 100%;
  min-width: 800px;
  padding: 20px 40px;
  overflow: auto;
}

.flex {
  display: flex;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.can-click {
  cursor: pointer;
  user-select: none;
  &.disabled {
    cursor: not-allowed;
  }
  &:not(.disabled) {
    &:hover {
      transition: all 0.3s;
      filter: brightness(1.2);
    }
    &:active {
      transition: none;
      filter: brightness(0.8);
    }
  }
}

.el-drawer {
  --el-dialog-bg-color: var(--dropdown-bg);
}
