@import "./base.css";

html {
  -webkit-font-smoothing: antialiased;
}

#app {
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 10px;
}

body {
  --el-color-primary: #c20c0c;
}

.el-drawer__body {
  --el-drawer-padding-primary: 0;
}
